@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: local('Roboto Thin'), local('Roboto-Thin'), url(https://storage.googleapis.com/monplan-fonts/roboto/Roboto-Thin.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(https://storage.googleapis.com/monplan-fonts/roboto/Roboto-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://storage.googleapis.com/monplan-fonts/roboto/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(https://storage.googleapis.com/monplan-fonts/roboto/Roboto-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://storage.googleapis.com/monplan-fonts/roboto/Roboto-Bold.ttf) format('truetype');
}


/**
 * Roboto Condensed Fonts
 */
 
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('RobotoCondensed-Light'), url(https://storage.googleapis.com/monplan-fonts/robotocondensed/RobotoCondensed-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(https://storage.googleapis.com/monplan-fonts/robotocondensed/RobotoCondensed-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(https://storage.googleapis.com/monplan-fonts/robotocondensed/RobotoCondensed-Bold.ttf) format('truetype');
}